.inv-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 35px;
    margin-top: 45px;
}

.env-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}