.productsContainerInv {
    /* display: flex; */
    margin-top: 10px;

}

.productInv {
    /* margin-right: 10px; */

    height: 680px;
    width: 300px;
    border: 1px solid rgb(87, 2, 27)
}

.productInv img {
    height: 420px;
    width: 380px;
}