.products img {
    height: 300px;
    width: 100%;
}

.item-1 img {
    width: 320px;
    height: 400px;
}

.item-2 img {
    width: 550px;
    height: 660px;
}

.item-title {
    background-color: rgb(13, 160, 218);
    border-radius: 10px;
    padding: 5px;
    width: 380px;
    margin-left: 45px;
}